import os

# Path to Healpix include and lib dirs
HEALPIX = os.environ['HEALPIX'] #'/mn/corcaroli/d1/dagss/Healpix_2.14a'
HEALPIX_INCLUDE = os.path.join(HEALPIX, 'include')
HEALPIX_LIB = os.path.join(HEALPIX, 'lib')

# Path to cfitsio
CFITSIO_LIB = '/mn/corcaroli/d1/dagss/cfitsio'

#
# ifort settings
#
#F90 = 'ifort'
#F90FLAGS = ['-O0', '-cm', '-w', '-sox', '-g']
#F90OPENMP_FLAG = '-openmp'

#
# gfortran settings
#
F90 = 'gfortran'
F90FLAGS = ['-O0', '-g', '-fno-second-underscore']
F90OPENMP_FLAG = '-fopenmp'

#
# Linker settings
#

# Linux:
F90PYEXTLINK = '$F90 -shared -pthread'
# Mac OS X:
## F90PYEXTLINK = '$F90 -bundle -undefined dynamic_lookup'


